*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-collapse: collapse;
}

.text-tarea {
    height: 100px;
    width: 100%;
    resize: none;
}

/* .body{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 640px;
} */
/* .footer{
    margin-top: auto;
} */